[Unit]
Description=SunLionet (Inside)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/sunlionet/inside.env
ExecStart=/usr/local/bin/sunlionet-inside
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
Alias=shadownet-inside.service
